body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

#box {
  max-width: 90%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 2px rgba(151, 151, 151, 0.2);
}

#nav-bar {
  padding-top: 15px;
  background-color: #3f71b5;
}

#logo-principal {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  max-width: 150px;
}

#photo-grid {
  max-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: #ea2c62;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 40px;
}

h2 {
  text-align: center;
  color: #ea2c62;
  font-size: 20px;
  padding-top: 50px;
}
h5 {
  text-align: center;
  font-size: 13px;
  color: #214252;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  color: rgb(95, 95, 95);
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

small {
  color: rgb(95, 95, 95);
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

#menu-tabs {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 20px;
}

#row-box {
  padding-top: 25px;
}

strong {
  color: #ea2c62;
  font-size: 13px;
}

span {
  color: #ea2c62;
  font-weight: 300;
  font-size: 13px;
}

#button-box {
  max-width: 100%;
  background-color: #f4f4f2;
  padding: 50px;
}

#button-box h2 {
  color: #ea2c62;
  font-size: 30px;
}

#second-links {
  text-align: center;
  font-size: 30px;
  padding: 50px 0;
}
#happy-hour-box {
  padding-top: 20px;
  padding-bottom: 50px;
}

#happy-hour-box h1 {
  color: #ea2c62;
  font-size: 30px;
}

#happy-hour-image {
  max-width: 100%;
}
#happy-hour-p {
  text-align: center;
  font-size: 25px;
  color: #ea2c62;
}
#happy-hour-s {
  text-align: center;
  font-size: 16px;
  color: rgb(95, 95, 95);
}

#address-card {
  margin-top: 70px;
}

#address-card p {
  font-size: 16px;
}

#address-card h5 {
  font-size: 25px;
  color: #ea2c62;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 9px;
  margin: 100px 0;
  color: white;
  background-color: #3f71b5;
  padding: 100px;
}
#footer a {
  color: white;
}
