body {
  background-color: white;
}

#nav-bar {
  padding-top: 15px;
  background-color: #3f71b5;
}

#logo-principal {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

#foto-portada {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 50px 10px;
}

h1 {
  text-align: center;
  padding: 50px;
}

h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}
h5 {
  text-align: center;
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(107, 107, 107);
}

p {
  color: rgb(107, 107, 107);
  font-size: 13px;
  font-family: "Open Sans Condensed", sans-serif;
}

strong {
  color: #3f71b5;
  font-size: 14px;
}

span {
  color: #3f71b5;
  font-weight: 300;
  font-size: 14px;
}

#second-links {
  text-align: center;
  font-size: 30px;
  padding: 100px 0;
}

footer {
  text-align: center;
  font-size: 10px;
  margin: 100px 0;
}
