body {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

#box {
  max-width: 90%;
  margin: 20px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 255, 0.2);
}

#nav-bar {
  padding-top: 15px;
  background-color: #3f71b5;
}

#logo-principal {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  max-width: 150px;
}

#photo-grid {
  max-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 30px;
  background-color: #ea2c62;
  border-radius: 4px;
  box-shadow: 5px 5px 3px 2px rgba(0, 0, 255, 0.2);
}

h2 {
  text-align: center;
  color: #ea2c62;
  font-size: 25px;
  padding-top: 50px;
}
h5 {
  text-align: center;
  font-size: 15px;
  color: #214252;
  font-family: "Roboto", sans-serif;
}

p {
  color: rgb(90, 90, 90);
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

small {
  color: rgb(90, 90, 90);
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

#menu-tabs {
  padding: 20px;
}

#row-box {
  padding-top: 25px;
}

strong {
  color: #ea2c62;
  font-size: 13px;
}

span {
  color: #ea2c62;
  font-weight: 300;
  font-size: 13px;
}

#second-links {
  text-align: center;
  font-size: 30px;
  padding: 50px 0;
}
#happy-hour-box {
  padding-top: 20px;
  padding-bottom: 50px;
}

#happy-hour-image {
  max-width: 100%;
}
#happy-hour-p {
  text-align: center;
  font-size: 25px;
  color: #ea2c62;
}
#happy-hour-s {
  text-align: center;
  font-size: 16px;
  color: rgb(90, 90, 90);
}

#address-card {
  margin-top: 70px;
}

#address-card p {
  font-size: 16px;
}

#address-card h5 {
  font-size: 25px;
  color: #ea2c62;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 10px;
  margin: 100px 0;
  color: white;
}
